<div class="members section">
  <header class="section__header">
    members
  </header>
  <div class="section__main--bordered">
    <div class="membersRate">
      <div class="membersRate__header">
        <div class="member__num">№</div>
        <div class="member__photo">photo</div>
        <div class="member__name">name</div>
      </div>
      <div class="member" *ngFor="let member of members; let i = index;">
        <div class="member__num">{{i + 1}}</div>
        <div class="member__photo">
          <img src="{{member.photo_url}}" alt="member photo">
        </div>
        <div class="member__name">
          <a href="https://plus.google.com/{{member.gp_id}}" target="_blank">{{member.name}} {{member.surname}}</a>
        </div>
      </div>
    </div>
  </div>
</div>