<div class="members section">
  <header class="section__header">
    members
  </header>
  <div class="section__main--bordered">
    <div class="membersRate">
      <div class="membersRate__header">
        <div class="member__num">№</div>
        <div class="member__name">name</div>
        <div class="member__points">points</div>
      </div>
      <div class="member">
        <div class="member__num">1</div>
        <div class="member__name">German Volkov</div>
        <div class="member__points">12</div>
      </div>
      <div class="member">
        <div class="member__num">2</div>
        <div class="member__name">Vadim Benkovski</div>
        <div class="member__points">22</div>
      </div>
    </div>
  </div>
</div>