<app-header [activeMenuItem]="0"></app-header>
<main class="main">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <app-teams-list></app-teams-list>
            <app-teams-search></app-teams-search>
          </div>
          <div class="col-md-5">
            <app-task-list [listHeader]="'new tasks'"></app-task-list>
          </div>
          <div class="col-md-4">
            <app-task-list [listHeader]="'my todos'"></app-task-list>
          </div>
        </div>
    </div>
</main>