<div class="taskBuilder formBlock">
  <header class="formBlock__header">
    team settings
  </header>
  <form class="formBlock__form">
    <div class="formBlock__main">
      <div class="form-group">
        <label for="teamName">name</label>
        <input #name type="text" id="teamName" class="form-control" value="{{teamName}}" required>
      </div>  
      <div class="form-group">
        <label for="teamDescr">description</label>
        <input #descr type="text" id="teamDescr" class="form-control" value="{{teamDescr}}" required>
      </div>  
    </div>
    <footer class="formBlock__footer">
      <button type="submit" class="formBlock__action" (click)="updateTeam(name.value, descr.value)">submit</button>
    </footer>
  </form>
</div>