.formBlock {
    margin-bottom: 20px;
    padding: 10px 15px 15px;
    border: 1px solid @borderColor;

    &__header {
        margin-bottom: 15px;

        font-size: 1.2em;
        color: @red;
    }

    &__form {
        textarea {
            margin-bottom: 10px;
            padding: 5px 10px;

            width: 100%;

            border-color: @borderColor;
            border-left: none;
            border-right: none
        }

        label {
            color: grey;
        }

        input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: @borderColor;
        }
    }

    &__footer {
        padding: 5px 0;

        text-align: center;

        button {
            display: inline-block;

            margin-right: 20px; 
            padding: 4px 0;

            min-width: 100px;

            text-transform: uppercase;

            background-color: #fff;
            border: 1px solid black;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}