<div class="teamCard">
	<div class="teamCard__header">
		<div class="teamCard__name">
			<a routerLink="/team/12">OneWayUp</a>
		</div>
	</div>
	<div class="teamCard__body">
		<div class="teamCard__descr">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dignissimos, exercitationem ipsum cupiditate.
		</div>
		<div class="teamCard__members">
			<a href="#" class="memberLink">
				<img src="images/user.jpg" alt="Member One" class="memberPhoto">
			</a>
			<a href="#" class="memberLink">
				<img src="images/user.jpg" alt="Member One" class="memberPhoto">
			</a>
			<a href="#" class="memberLink">
				<img src="images/user.jpg" alt="Member One" class="memberPhoto">
			</a>
			<a href="#" class="memberLink">
				<img src="images/user.jpg" alt="Member One" class="memberPhoto">
			</a>
			<a href="#" class="memberLink">
				<img src="images/user.jpg" alt="Member One" class="memberPhoto">
			</a>
			
			<a href="#" class="moreMembers">more</a>
		</div>
	</div>
	<div class="teamCard__footer">
		<div class="teamCard__actions">
			<a routerLink="/team/12" class="teamCard__btn">open</a>
		</div>
	</div>
</div>