<div class="taskBuilder formBlock">
  <header class="formBlock__header">
    create new task
  </header>
  <form class="formBlock__form" (ngSubmit)="onSubmit($event)">
    <div class="formBlock__main">
      <textarea #taskText name="taskText" id="taskText" rows="4" placeholder="new task goes here"></textarea>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label for="deadline">deadline</label>
            <input #taskDeadline type="date" id="deadline" class="form-control" placeholder="01.01.2016">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="points">points</label>
            <input #taskPoints type="number" id="points" class="form-control">
          </div>
        </div>
      </div> 
    </div>
    <footer class="formBlock__footer">
      <button type="submit" class="formBlock__action" (click)="createTask(taskText.value, taskDeadline.value, taskPoints.value)">create</button>
    </footer>
  </form>
</div>