<div class="fullTask">
  <div class="fullTask__close">close</div>
  <div class="fullTask__text">
    wash dishes and take a shower in the bathroom
  </div>
  <div class="fullTask__props">
    <div class="prop">
      <span class="prop__name">status</span>
      <span class="prop__value">new</span>
    </div>
    <div class="prop">
      <span class="prop__name">team</span>
      <span class="prop__value">OneWayUp</span>
    </div>
    <div class="prop">
      <span class="prop__name">deadline</span>
      <span class="prop__value">15.06.2016</span>
    </div>
    <div class="prop">
      <span class="prop__name">points</span>
      <span class="prop__value">15</span>
    </div>
  </div>
</div>