<div class="task">
	<div class="task__leftColumn">
		<div class="task__header">
			<div class="task__teamName">
				<a routerLink="/team/11">OneWayUp</a>
			</div>
			<div class="task__status">{{status}}</div>
		</div>
		<div class="task__text">
			buy sweets in the shop
		</div>
	</div>
	<div class="task__rightColumn">
		<div class="task__info">
			<table class="task__infoTable">
				<tr>
					<td>points</td>
					<td>15</td>
				</tr>
				<tr>
					<td>deadline</td>
					<td>17.11.2016</td>
				</tr>
			</table>
		</div>
		<div class="task__actions">
			<a href="#" class="task__btn">take</a>
		</div>
	</div>
</div>