<div class="taskWrap">
	<div class="task">
		<button class="task__close" (click)="close()">
			close
		</button>
		<div class="task__team">
			{{task.team}}
		</div>
		<div class="task__text">
			{{task.text}}
		</div>
		<div class="task__options">
			<div class="option">
				<div class="option__name">
					status
				</div>
				<div class="option__value">
					{{task.status}}
				</div>
			</div>
			<div class="option">
				<div class="option__name">
					deadline
				</div>
				<div class="option__value">
					{{task.deadline}}
				</div>
			</div>
			<div class="option option--inline">
				{{task.points}} points
			</div>
		</div>
		<div class="task__actions">
			<button class="action action--take">take</button>
			<button class="action action--done">done</button>
		</div>
	</div>
</div>