<app-header [activeMenuItem]="'teams'"></app-header>
<main>
    <div class="container">
        <div class="itemsList">
            <div class="row">
                <div class="col-md-4">
                    <app-team-card></app-team-card>
                    <app-team-card></app-team-card>
                </div>
                <div class="col-md-4">
                    <app-team-card></app-team-card>
                    <app-team-card></app-team-card>
                </div>
                <div class="col-md-4">
                    <app-team-card></app-team-card>
                </div>
            </div>
        </div>
        <div class="itemsListAfter">
            <a href="#" class="more">more...</a>
        </div>
    </div>
</main>
