<div class="teamsSearch section">
  <div class="section__header">
    all teams
  </div>
  <div class="section__main search">
    <div class="search__control">
      <input type="text" placeholder="team name">
    </div>
    <div class="search__results">
      <div class="team" *ngFor="let team of teams">
        <a routerLink="/team/{{team.id}}" class="team__name">
          {{team.name}}
        </a>
        <div class="team__creator">by <a href="https://plus.google.com/{{team.cr_gp}}" target="_blank">{{team.cr_name}} {{team.cr_surname}}</a></div>
        <div class="team__descr">
          {{team.descr}}
        </div>
      </div>
    </div>
  </div>
</div>