<div class="teamsSearch section">
  <div class="section__header">
    search for teams
  </div>
  <div class="section__main search">
    <div class="search__control">
      <input type="text" placeholder="team name">
    </div>
    <div class="search__results">
      <div class="team" *ngFor="let team of teams">
        <div class="team__name">
          <a routerLink="/team/{{team.id}}">{{team.name}}</a>
        </div>
        <div class="team__creator">by <a href="#">{{team.creator_id}}</a></div>
      </div>
    </div>
  </div>
</div>