<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bio formBlock">
                    <div class="formBlock__header"> 
                        bio
                    </div>
                    <form action="#" class="formBlock__form">
                        <div class="formBlock__main">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_name">name</label>
                                        <input type="text" id="user_name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_surname">surname</label>
                                        <input type="text" id="user_surname" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_age">age</label>
                                        <input type="number" id="user_age" min=0 max=100 class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_country">country</label>
                                        <input type="text" id="user_country" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_city">city</label>
                                        <input type="text" id="user_city" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="formBlock__footer">
                            <button type="reset" class="formBlock__action">clear</button>
                            <button type="submit" class="formBlock__action">confirm</button>
                        </footer>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contacts formBlock">
                    <div class="formBlock__header">
                        contacts
                    </div>
                    <form action="" class="formBlock__form">
                        <div class="formBlock__main">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_vk">vk</label>
                                        <input type="text" id="contact_vk" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_fb">facebook</label>
                                        <input type="text" id="contact_fb" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contact_google">google+</label>
                                        <input type="text" id="contact_google" class="form-control">
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="formBlock__footer">
                            <button type="reset" class="formBlock__action">clear</button>
                            <button type="submit" class="formBlock__action">confirm</button>
                        </div>
                    </form>
                </div> 
            </div>  
        </div>      
    </div>
</main>
