@import '../../styles/_variables';

.headerWrap {
	min-height: 80px;
	background-color: @red;

	@media only screen and (max-width: @screen-medium) {
		min-height: 0;
	}
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	@media only screen and (max-width: @screen-medium) {
		display: block;
	}
}

.logo {
	line-height: 80px;
	font-size: 32px;

	text-transform: uppercase;

	a {
		color: #fff;
		text-decoration: none;
	}

	@media only screen and (max-width: @screen-medium) {
		text-align: center;
		font-size: 1em;
		line-height: 30px;
	}
}

.headerMenu {
	flex-basis: 0;
	flex-grow: 1;

	&__ul {
		float: right;

		margin: 0;
		padding: 0;

		list-style: none;
		
		font-size: 0;

		@media only screen and (max-width: @screen-medium) {
			float: none;
		}
	}

	&__li {
		display: inline-block;
		
		font-size: 14px;
		line-height: 80px;

		@media only screen and (max-width: @screen-medium) {
			display: inline-block;
			line-height: 30px;
			text-align: center;
			width: 33%;
		}

		a, .extra {
			display: block;
			padding: 0 20px;
			
			font-size: 1.2em;
			color: #fff;
    		text-transform: uppercase;
			text-decoration: none;

			outline: none;
			cursor: pointer;

			@media only screen and (max-width: @screen-medium) {
				font-size: 1em;
			}

			&:hover, &:focus {
				color: #fff;
				background-color: #dc8680;
			}

			&.active {
				color: @red;
				background-color: #fff;
			}
		}
	}
}