<header class="headerWrap">
	<div class="container">
		<div class="header">
			<div class="logo">
				<a routerLink="/" class="logo__link">TeamsRate</a>
			</div>
			<div class="headerMenu">
				<ul class="headerMenu__ul">
					<li class="headerMenu__li">
						<a routerLink="/dashboard" class="headerMenu__link" [class.active]="page == 'dashboard'">dashboard</a>
					</li>
					<li class="headerMenu__li">
						<div class="extra" [class.active]="page == 'team'">team</div>
					</li>
					<li class="headerMenu__li" (click)="logout()">
						<div class="extra">exit</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>