.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 100vh;

  text-align: center; 

  background: #02AAB0; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #02AAB0, #00CDAC);
  background: -o-linear-gradient(right, #02AAB0, #00CDAC);
  background: linear-gradient(to left, #02AAB0, #00CDAC); 

  &__logo {
    color: #fff;
    font-size: 5em;
    font-weight: bold;

    .prefix {
      color: #eaeaea;
    }
  }

  &__words {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
  }

  &__actions {

    .authBtn {
      display: block;

      background-color: #fff;

      border-radius: 50%;
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.4);
      }

      &.loading {
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

        &:hover {
          transform: none;
        }
      }

      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

      img {
        position: relative;
        top: -2px;

        width: 100px;
        height: 100px;

        vertical-align: middle;
      }

    }
  }

  &__action {
    display: inline-block;
    width: 300px;
    margin-right: 50px;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    color: #888888;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #c7c7c7;
    transition: 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

}