<div class="welcome">

    <div class="welcome__header">
        <div class="container-fluid">
            <div class="welcome__logo">
                <span class="prefix">It's</span> TeamsRate<span class="prefix">!</span>
            </div>
            <div class="welcome__actions">
                <a class="welcome__action" routerLink="/registration">registration</a>
                <a class="welcome__action" routerLink="/login">login</a>
            </div>
            <div class="welcome__words">
                Team's management<br>was never so easy!
            </div>
        </div>
    </div>

</div>
