<div class="welcome">

    <div class="welcome__enterBlock">
        <div class="welcome__logo">
            <span class="prefix">It's</span> TeamsRate<span class="prefix">!</span>
        </div>
        <div class="welcome__words">
            Team's management<br>was never so easy!
        </div>
        <div class="welcome__actions">
            <button class="authBtn" [class.loading]="authButton_google" (click)="authClick();">
                Google+
            </button>
        </div>
    </div>
    
</div>