<div class="taskBuilder formBlock">
  <header class="formBlock__header">
    create new team
  </header>
  <form class="formBlock__form" (ngSubmit)="onSubmit($event)">
    <div class="formBlock__main">
      <div class="form-group">
        <label for="teamName">name</label>
        <input #teamName type="text" id="teamName" class="form-control" placeholder="cool team" required>
      </div>
      <div class="form-group">
        <label for="teamDescription">description</label>
        <input #teamDescription type="text" id="teamDescription" class="form-control" placeholder="this team is the coolest" required>
      </div>
    </div>
    <footer class="formBlock__footer">
      <button type="submit" class="formBlock__action" (click)="createTeam(teamName.value, teamDescription.value)">create</button>
    </footer>
  </form>
</div>