<div class="teamBuilder formBlock">
  <header class="formBlock__header" (click)="trigger()">
    create new team
  </header>
  <form class="formBlock__form" (ngSubmit)="onSubmit($event)" *ngIf="opened">
    <div class="formBlock__main">
      <div class="form-group">
        <label for="teamName">name</label>
        <input [(ngModel)]="createdTeam.name" name="name" type="text" id="teamName" class="form-control" placeholder="cool team" required>
      </div>
      <div class="form-group">
        <label for="teamDescription">description</label>
        <input [(ngModel)]="createdTeam.descr" name="description" type="text" id="teamDescription" class="form-control" placeholder="this team is the coolest" required>
      </div>
    </div>
    <footer class="formBlock__footer">
      <button type="submit" class="formBlock__action">create</button>
    </footer>
  </form>
</div>