<app-header [activeMenuItem]="'todos'"></app-header>
<main class="main">
    <div class="container">
        <div class="taskList">
            <div class="taskList__header">
                <div class="task__text">task</div>
                <div class="task__team">team</div>
                <div class="task__deadline">deadline</div>
                <div class="task__points">points</div>
                <div class="task__status">status</div>
                <div class="task__actions">action</div>
            </div>
            <div class="task">
                <div class="task__text">feel energy</div>
                <div class="task__team">OneWayUp</div>
                <div class="task__deadline">15.04.2016</div>
                <div class="task__points">10</div>
                <div class="task__status">todo</div>
                <div class="task__actions">
                    <button class="btn--taskAction btn--doneTask">done</button>
                </div>
            </div>
            <div class="task">
                <div class="task__text">return Bastian</div>
                <div class="task__team">Manchester United</div>
                <div class="task__deadline">09.01.2016</div>
                <div class="task__points">100</div>
                <div class="task__status">todo</div>
                <div class="task__actions">
                    <button class="btn--taskAction btn--doneTask">done</button>
                </div>
            </div>
        </div>
    </div>
</main>
