<app-header></app-header>
<main>
    <div class="container">
		<div class="pageName">team page</div>
		<div class="itemsList">
			<div class="team">
				<div class="team__header">
					<div class="team__photoWrap">
						<img src="images/profile.jpg" alt="Team Photo" width="200" height="200">
					</div>
					<div class="team__info">
						<h3>OneWayUp</h3>
						<div class="infoLine admin">
							admin
							<a href="#">Volkov German</a>
						</div>
						<div class="infoLine membersCount">
							size
							<a href="#">3 members</a>
						</div>
					</div>
					<div class="team__stats stats">
						<div class="stats__item">
							<div class="stats__name">new</div>
							<div class="stats__value new">3</div>
						</div>
						<div class="stats__item">
							<div class="stats__name">current</div>
							<div class="stats__value current">9</div>
						</div>
						<div class="stats__item">
							<div class="stats__name">done</div>
							<div class="stats__value done">15</div>
						</div>
					</div>
				</div>
				<div class="team__body">
					<div class="panel">
						<a href="#" class="addTask" (click)="createTaskBlock__toogleVisibility()">add task</a>
					</div>
					<app-create-task *ngIf="createBlockVisible"></app-create-task>
					<app-task></app-task>
				</div>
			</div>
		</div>
    </div>
</main>
